<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logo</key>
		<string>logo_0</string>
		<key>title</key>
		<string>涨芝士</string>
		<key>intro</key>
		<string>包装智商的工作坊</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_1</string>
		<key>title</key>
		<string>力·速</string>
		<key>intro</key>
		<string>释放激情的赛场</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_2</string>
		<key>title</key>
		<string>Fashion</string>
		<key>intro</key>
		<string>时尚潮流聚集地</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_3</string>
		<key>title</key>
		<string>广角镜</string>
		<key>intro</key>
		<string>透过滤镜触碰你</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_4</string>
		<key>title</key>
		<string>旅&amp;行</string>
		<key>intro</key>
		<string>纪录下你我的足迹</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_5</string>
		<key>title</key>
		<string>电影</string>
		<key>intro</key>
		<string>以电影之名遨游世界</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_6</string>
		<key>title</key>
		<string>装·饰</string>
		<key>intro</key>
		<string>在艺术里流连</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>logo_7</string>
		<key>title</key>
		<string>WCG</string>
		<key>intro</key>
		<string>追逐在另一个赛场</string>
	</dict>
</array>
</plist>
